* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto Slab', serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }


  .container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  .logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
    height: auto;
  }

  .titulo {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .subtitulo {
    text-align: left;
    font-size: 14px;
    color: #666;
    margin-bottom: 24px;
  }

  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],s
  button {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #ccc;

  }

  /* Inputs */
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    border: 1px solid #ccc;
  }

  button {
    background-color: #FF4F5A;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #7c272d;
  }
